# Testing-related packages

# Checks style, syntax, etc.
flake8>=6.1.0

# Static type checking
mypy==1.7.1

# Check import order style
isort>=5.13.2

# Automatic code formatting
black>=23.12.0

# Allows generation of coverage reports with pytest.
pytest>=7.4.3
pytest-cov>=4.1.0
pytest-mock>=3.11.1

# Allows codecov to generate coverage reports
coverage[toml]>=6.4
codecov>=2.1.12

# Package building
build>=1.0.3

# Package publishing
twine>=4.0.2
