# Testing-related packages

# Checks style, syntax, etc.
flake8~=7.0.0

# Static type checking
mypy==1.8.0

# Check import order style
isort~=5.13.2

# Automatic code formatting
black~=24.1.1

# Allows generation of coverage reports with pytest.
pytest>=8.0.0
pytest-cov>=4.1.0
pytest-mock>=3.12.0

# Allows codecov to generate coverage reports
coverage[toml]>=7.4.1
codecov>=2.1.12

# Package building
build>=1.0.3
scikit-build-core>=0.8.0

# Package publishing
twine>=4.0.2

